<div class="container">
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|%>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
        </tr>
      <% end %>
    </tbody>
  <table>
</div>